#m_{
  background: linear-gradient(45deg, #6a11cb, #2575fc); /* تدرج لوني جميل */
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 25px; /* زر دائري قليلاً */
  transition: all 0.3s ease;
}

/* Hero Image */
.hero-image {
  position: relative;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Search Bar */
.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  z-index: 1;
}

.search-bar .container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.search-bar .form-control {
  width: 60%;
}

.search-bar .btn {
  margin-top: 10px;
}

.search-bar h1 {
  color: #007bff;
}




.btn-outline-primary {
  border: 2px solid #fff;
  color: #fff;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-outline-primary:hover {
  background: #fff;
  color: #1e90ff;
}

/* Body Content */
.body-content {
  margin-top: 60px;
}

/* Specific Background Section */
.mehdi {
  background-color: #007bff;
}

/* Navbar Links */

/* Body Background */
.body {
  background-color: #007bff;
}

/* About Section Images */
#about img {
  width: 600px;
  height: 410px;
  object-fit: cover;
}
